<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <table id="demo">
    {% for row in csv %}
      <tr>
      {% for col in row %}
      <td>{{ col }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <div class="intro" style = "margin: 10px;">
      <h1>New disaster submission.</h1>
        <form action="disasters/result" method = "POST">      
          <label for="name" class="form-label">Name</label> 
          <input name="inputName" type="name" class="form-control" id="name"> 
          
          <label for="category" class="form-label">Category</label> 
          <select name="inputCategory" class="form-control" id="category">
            <option value="Disease">Disease</option>
            <option value="Earthquake">Earthquake</option>
            <option value="Tsunami">Tsunami</option>
            <option value="Wildfire">Wildfire</option>
            <option value="Blizzard">Blizzard</option>
            <option value="Avalanche">Avalanche</option>
            <option value="Flood">Flood</option>
            <option value="Heat Wave">Heat Wave</option>
            <option value="Landslide">Landslide</option>
            <option value="Tornado">Tornado</option>
            <option value="Hurricane/Typhoon">Hurricane/Typhoon</option>
          </select>

          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
  </main>
</html>