<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <div class="intro" style = "margin: 10px;">
      <h1>New Disaster Submission</h1>
        <form action="disasters/result" method = "POST">      
          <label for="name" class="form-label">Name</label> 
          <input name="inputName" type="name" class="form-control" id="name"> 
          
          <label for="category" class="form-label">Category</label> 
          <select name="inputCategory" class="form-control" id="category">
            {% for dis in disaster_categories %}
            <option>{{dis}}</option>
            {% endfor %}
          </select>

          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
    <div class="intro" style = "margin: 10px;">
      <h1>Disasters</h1>
      <table id="disaster_table">
      {% for row in csv %}
        <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    </div>
  </main>
</html>