<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <table id="demo">
    {% for row in csv %}
      <tr>
      {% for col in row %}
      <td>{{ col }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <div class="intro" style = "margin: 10px;">
      <h1>New disaster submission.</h1>
        <form action="disasters/result" method = "POST">      
          <label for="name" class="form-label">Name</label> 
          <input name="inputName" type="name" class="form-control" id="name"> 
          
          <label for="category" class="form-label">Category</label> 
          <input name="inputCategory" class="form-control" id="category"> 

          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
  </main>
</html>