<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <div class="intro" style = "margin: 10px;">
      <h1>Editting Disaster</h1>
        <form action="edit/result" method = "POST">      
        
          <label for="disaster" class="form-label">Disaster</label> 
          <select name="inputDisaster" class="form-control" id="disaster">
            {% for dis in disaster_names %}
            <option>{{dis}}</option>
            {% endfor %}
          </select>

          <label for="name" class="form-label">New Name</label> 
          <input name="inputName" type="name" class="form-control" id="name"> 
          
          <label for="category" class="form-label">New Category</label> 
          <select name="inputCategory" class="form-control" id="category">
            {% for dis in disaster_categories %}
            <option>{{dis}}</option>
            {% endfor %}
          </select>

          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
  </main>
</html>