<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>What Should I?</title>
    <!-- <div class="intro" style="padding-left: 10px; display: flex; flex-direction: row; flex-wrap: wrap; font-size: 3vw;"> -->
    <div class="intro" style = "margin: 10px;">
      <h1>What is this?</h1>
      <body>
        This website provides suggestions based on what you already have or like. </br>
        Currently, we can give you food and movie suggestions. </br>
        To see food suggestions, select Fridge. To see movie suggestions, select Cinema. </br>
      </body>
      </br>
      <h1>Technical Description</h1>
      <body>
        Fridge takes in a list of ingredients and queries the Edamam API with the list of ingredients.
        Edamam provides recipes alongside the images and links to them, which are taken and displayed. </br>
        </br>
        Cinema takes in a list of movies and finds the matching movie title using difflib. Using a pandas database containing a
        a pre-processed version of the GroupLens Research ml-latest dataset, a correlation of each input movie is found. These correlations
        contain how similar each input movie is to every single other movie in the database. These correlation tables are all taken
        and multiplied with each other to get the movies that are most similar to every input movie and is returned to the user.
          <iframe
            width="450"
            height="250"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src=SOURCE
            allowfullscreen>
        </iframe>
      </body>
    </div>
  </main>
</html>