<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <!-- <div class="intro" style="padding-left: 10px; display: flex; flex-direction: row; flex-wrap: wrap; font-size: 3vw;"> -->
    <div class="intro" style = "margin: 10px;">
      <h1>Cases Near You</h1>
        <gmp-map
          center="43.4142989,-124.2301242"
          zoom="4"
          map-id="DEMO_MAP_ID"
          style="height: 400px"
        >
          {% for dis in case_info %}
          <gmp-advanced-marker
            position="{{ dis[1] }}"
            title="{{ dis[0] }}"
          ></gmp-advanced-marker>
          {% endfor %}
        </gmp-map>
  
        <!-- 
          The `defer` attribute causes the script to execute after the full HTML
          document has been parsed. For non-blocking uses, avoiding race conditions,
          and consistent behavior across browsers, consider loading using Promises. See
          https://developers.google.com/maps/documentation/javascript/load-maps-js-api
          for more information.
          -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9u3IpaN-lh6dUNhTRN3gmMYPmyghIPxs&libraries=maps,marker&v=beta"
          defer
        ></script>
      </body>
    </div>
  </main>
</html>