<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <div class="intro" style = "margin: 10px;">
      <h1>New Case Submission</h1>
      <form action="new_case/result" method = "POST">      
        <label for="disaster" class="form-label">Disaster</label> 
        <select name="inputDisaster" class="form-control" id="disaster">
          {% for dis in disaster_names %}
          <option>{{dis}}</option>
          {% endfor %}
        </select>

        <label for="time" class="form-label">Time</label> 
        <input name="inputTime" type="datetime-local" class="form-control" id="time" value = "{{ TIME }}"> 

        <label for="latitude" class="form-label">Latitude</label> 
        <input name="latitude" class="form-control" id="latitude"> 

        <label for="longitude" class="form-label">Longitude</label> 
        <input name="longitude" class="form-control" id="longitude"> 

        <button type="submit" class="btn btn-primary">Submit</button> 
      </form>
    </div>
  </main>
  <script>
    const latitudeInput = document.getElementById("latitude");
    const longitudeInput = document.getElementById("longitude");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        demo.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      latitudeInput.value = latitude;
      longitudeInput.value = longitude;
    }

    window.addEventListener('load', getLocation);
  </script>
</html>