<link rel="stylesheet" href='/static/main.css' />
<html>
  {% include 'header.html' %}
  <main>
    <title>Disaster Tracker O3</title>
    <div class="intro" style = "margin: 10px;">
      <h1>New Case Submission</h1>
      <form action="new_case/result" method = "POST">      
        <label for="disaster" class="form-label">Disaster</label> 
        <input name="inputDisaster" type="disaster" class="form-control" id="disaster"> 

        <label for="time" class="form-label">Time</label> 
        <input name="inputTime" type="time" class="form-control" id="time"> 

        <label for="latitude" class="form-label">Latitude</label> 
        <input name="latitude" class="form-control" id="latitude"> 

        <label for="longitude" class="form-label">Longitude</label> 
        <input name="longitude" class="form-control" id="longitude"> 

        <button type="submit" class="btn btn-primary">Submit</button> 
      </form>
    </div>
  </main>
</html>